<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Got Jokes??</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
    </div>
</nav>

<body>
    <div class="container center" id=blog-container>
        <div class="row center rating-buttons">
            <div class="col s1">
                <a id="g-rated" href="/g" class=" btn-floating btn-large waves-effect waves-light red "><i class="material-icons ">G</i></a
          >
          <h1></h1>
        </div>
        <div class="col s1 ">
          <a id="pg-rated "  href="/pg" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">PG</i></a>

            </div>
            <div class="col s1">
                <a id="pg13-rated" href="/pg13" class=" btn-floating btn-large waves-effect waves-light red "><i class="material-icons ">PG13</i></a
          >
        </div>
        <div class="col s1 ">
          <a id="r-rated " class="btn-floating btn-large waves-effect waves-light red "
            ><i class="material-icons ">R</i></a>
                <br>
            </div>
        </div>
        <div id="joke-section ">
            <form>Enter Joke Here</form>
            <button class="btn waves-effect waves-light " id="enter-joke" type="submit " name="action ">
        Submit
        <i class="material-icons right ">send</i>
      </button>
        </div>
    </div>
    <div class="container">
      {{> joke/joke-block}}
    </div>
    <script src="js/g-rated.js "></script>
</body>
