<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">Got Jokes??</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down"></ul>
        </div>
    </nav>

    <body>
        <div class="container center" id=blog-container>
            <br>
            <div class="row center">
                <button id="g-rated" class="waves-effect waves-light btn">Got Jokes?!</i></button>
                <h3></h3>

            </div class="row right">
            <button class="material-icons" id="like">favorite</button>
            <!-- <button class="material-icons" id="delete">delete</button> -->
        </div>
        <br>
        <div id="joke-section"></div>
        <br>
        <br>
        <div id="enter-joke " class="row center">
            <div class="row center">
                <input id="submit-joke" type="text" class="validate">
                <label for="submit-joke">Enter Your Joke</label>
            </div>
            <div class="row center">
                <input id="username" type="text" class="validate">
                <label for="username">username</label>
                <div class="row center">
                    <br>
                    <br>
                    <br>
                    <button id="newuser" class="waves-effect waves-light btn" type="submit"
                        method="post">post</i></button>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div></div>
        <ul class="collection with-header">
            <li class="collection-header">
            </li>
            <li class="collection-item">
                <div>Fav Jokes<a href="#!" class="secondary-content"><i id="userdelete"
                            class="material-icons">delete</i></a></div>
            </li>
            <h4></h4>
        </ul>
        </div>
        <footer>
            <h6 class="text">© 2020 Copyright Text</h6>
        </footer>

        <!-- </form> -->
        <!-- </div class="row center">
        <button id="submit" class="btn waves-effect waves-light" type="submit" name="action">
        submit joke
        <button id="save" class="waves-effect waves-light btn">save joke</i></button>
        </button>
        </div> -->
        <!-- </div> -->
        <script src="js/g-rated.js"></script>
    </body>
</body>