footer {
  position: static;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #ee6e73;
  border-top: #ee6e73 solid;
  border-width: 5px;
  text-align: center;
  margin-top: 20%;
}

h2 {
  text-align: center;
}

.text {
  color: #ffffe8;
}

.jokes-styles {
  font-family: "Sansita Swashed", cursive;
  font-weight: bold;
}

.jokes-div {
  overflow: hidden;
  margin-bottom: 1%;
  float: end;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#submit-joke {
  color: white;
}

#username {
  color: white;
}

#enter-joke {
  color: white;
}

#uname {
  color: white;
}
